In [14]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [15]:
from IPython.display import display, HTML
import pandas as pd
from os import listdir
from os.path import isfile, join
from pprint import pprint
from tqdm import tqdm
import json
import io

import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import gridspec
from matplotlib.font_manager import FontProperties
import numpy as np
from scipy.spatial.distance import euclidean, pdist, squareform, cosine

import numpy as np
import matplotlib.pyplot as plt


sns.set(style="ticks")
plt.rcParams['axes.facecolor']='white'
task_order = ['Length',  'WordContent', 'Depth', 'TopConstituents', 'SubjNumber', 'ObjNumber', 'BigramShift', 'CoordinationInversion', 'OddManOut', 'Tense']
dict_task = {0:'Length',  1:'WordContent', 2:'Depth', 3:'TopConstituents', 4:'BigramShift', 5:'Tense', 6:'SubjNumber', 7:'ObjNumber', 8:'OddManOut', 9:'CoordinationInversion'}

In [22]:
sys.path.insert(0, '../../')
from transformer_anatomy.utils import get_results, find_top_n_layer




a = find_top_n_layer(model_name='bert-base-uncased', task='SST2', dir_path='../../results/ds_linear_head_wise_results', n_layer=4)
print(a)

        acc  head  layer  task         model_name location  devacc  devpearson
5505  86.66    -1     10  SST2  bert-base-uncased       fc   86.70         NaN
5506  87.10    -1     11  SST2  bert-base-uncased       fc   86.70         NaN
5504  85.23    -1      9  SST2  bert-base-uncased       fc   86.01         NaN
5503  84.13    -1      8  SST2  bert-base-uncased       fc   83.72         NaN
5502  82.87    -1      7  SST2  bert-base-uncased       fc   82.91         NaN
5500  79.90    -1      5  SST2  bert-base-uncased       fc   81.42         NaN
5501  79.19    -1      6  SST2  bert-base-uncased       fc   80.73         NaN
5497  74.14    -1      2  SST2  bert-base-uncased       fc   75.46         NaN
5499  74.85    -1      4  SST2  bert-base-uncased       fc   75.34         NaN
5498  73.81    -1      3  SST2  bert-base-uncased       fc   74.31         NaN
5496  73.04    -1      1  SST2  bert-base-uncased       fc   74.20         NaN
5495  69.08    -1      0  SST2  bert-base-uncased       fc   70.18         NaN

[10 11  9  8]

In [ ]:
df = get_results(dir_path=join(result_dir_path, 'linear_results'))
df = df.loc[df['head'] == -1]
df = pd.DataFrame(df.groupby(['task', 'model_name'])['acc'].max())
df['best_linear_layer'] = df['acc']
df_best_linear = df.drop(columns=['acc'])